<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Masuk - MPL-Hacktiv8</title>
</head>
<body>
  <h1>Masuk</h1>

  <form method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username"> <br><br>

    <label for="password">Password</label><br>
    <input type="password" name="password"> <br><br>

    <button type="submit">Masuk</button>
  </form>

  <p>Belum punya akun? <a href="/register">Buat Akun</a></p>
</body>
</html>