<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - MPL-Hacktiv8</title>
</head>
<body>
  <h1>Buat Akun</h1>

  <form method="post">
    <label for="username">Username</label> <br>
    <input type="text" name="username"> <br><br>
    
    <label for="email">Email</label> <br>
    <input type="text" name="email"> <br><br>

    <label for="password">Password</label> <br>
    <input type="password" name="password"> <br><br>

    <button type="submit">Buat Akun</button>
  </form>

  <p>Sudah punya akun? <a href="/login">Masuk</a></p>
</body>
</html>